body {
}
 .NameTextBox ,.CompanyTextBox,.EmailTextBox ,.PhoneTextBox,.MessageTextBox{

border-radius: 6px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c4c4c4+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(196,196,196,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(196,196,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

}

.contact_btn{

padding: 10px 20px 10px 20px;

}

.bookcar_form{

	width: 42% !important;
	color: #cc3b3b;
}

.register_form{


width: 42% !important;
	color: #cc3b3b;
}
th {
    
    color: #cc3b3b;
}
.bookcar-view,.register-car-view{
	width:80% !important;
}
.table-bordered {
   
    width: 70% !important;

}